<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="twitterConsumerKey" value="SejF95Ltq9vfs1vXfC4oDQ"/>
    <add key="twitterConsumerSecret" value="Q1PSZ7Gm2B3scnmX7GWZXD9ZGdmF1HaR118poOivJBc"/>
    <add key="twitterAccessToken" value="2203788390-D1x4HfYb5bpsYIO5MWWN9Cdy93ox7c10I3rk7w0"/>
    <add key="twitterAccessTokenSecret" value="yddhifE1d3xIiPUzi0mWS7MNDGDRCTPrq19IAus8VrKGX"/>
  </appSettings>
  <connectionStrings>
    <add name="MyFanConnection" connectionString="Data Source=DANIEL-VAIO;Initial Catalog=MyFan;Persist Security Info=True;User ID=dcortes;Password=test1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>