<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyFanConnection" connectionString="Data Source=DANIEL-VAIO;Initial Catalog=MyFan;Persist Security Info=True;User ID=dcortes;Password=test1234" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>